@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&display=swap'); 

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #222222;
}

* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  color: beige;

}

.canvas {
  position: fixed !important;
  inset: 0 !important;
  pointer-events: all !important;
}